.categoryContainer {
    background-color: rgb(157, 255, 189);
    border: 5px solid black;
    /* width: 100%; */
    font-size: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
    height: 700px;
}

.productContainer {
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.product {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font: bold 32px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
}

.description {
display: none;
margin-left: 0px;
background-color: white;
font-size: 15px;
height: 150px;
width: 200px;
}

.product:hover .description {
    display: block;
}

.product:hover img {
    display: none;
}

button:active {
    outline: none;
    border: none;
}