#pagination {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

a {
  padding: 0px 5px 0px 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#pagination a:link {
  color: black;
  text-decoration: none;
}
  
#pagination a:visited {
  color: black;
  text-decoration: none;
}

#pagination a:hover {
  color: black;
  text-decoration: none;
}

#pagination a:active {
  color: black;
  text-decoration: none;
}