/** @format */

.productList {
    /* margin-bottom: 200px; */
}

.productList img {
   
    height: 150px;
    margin-bottom: 20px;
    object-fit: contain;
}

.header {
    font-size: 26px !important;
}

.price {
    font-size: 26px !important;
}

body {

    background-color: white;
    background-image: none;
}

.product {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px !important;
    height: 350px !important;
    overflow-y: auto;
}