/** @format */

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productList img {
   margin-left: 50px;
    height: 150px;
    margin-bottom: 20px;
    object-fit: contain;
}

.header {
    font-size: 26px !important;
}

.price {
    font-size: 26px !important;
}

body {

    background-color: white;
    background-image: none;
}

.product {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px !important;
    height: 350px !important;
    overflow-y: auto;
}



#productH1 {
    font-size: 72px;
    color: blue;
}