/** @format */

.productList {
    /* margin-bottom: 200px; */
}

.productList img {
    max-width: 150px;
    max-height: 150px;
}

#product a:link {
    color: black;
    text-decoration: none;
}

#product a:visited {
    color: black;
    text-decoration: none;
}

#product a:hover {
    color: black;
    text-decoration: none;
}

#product a:active {
    color: black;
    text-decoration: none;
}

body {

    background-color: white;
    background-image: none;
}

