.category {
    background-color: rgb(50, 50, 50);
    font-family: 'Raleway', sans-serif;
    border: 2px solid black;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    width: 100%;
    margin-left: -5px;
    display: flex;
    justify-content: space-around;
}

.productCategories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#catStar {
    height: 50px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }