.category {
    background-color: aquamarine;
    font-family: 'Raleway', sans-serif;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    width: 100%;
    margin-left: -5px;
    display: flex;
    justify-content: space-around;
}

.productCategories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cats {
    height: 50px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: yellow;
    border-radius: 50px;
}

.cats:hover {
    background-color: pink;
}

.category-tile {
    border: 1px solid black;
    padding: 20px;
    width: 100px;
    height: 100px;
}

