.categoryContainer {
    background-color: hotpink;
    border: 5px solid black;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
}

.productContainer {
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.product {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}