#admin-list {
    display: flex;
    flex-flow: row nowrap;
}

#admin {
    font-size: 14px;
    padding-top: 20px;
    overflow: scroll;
    margin-bottom: 150px;
}

#admin-nav {
    font-size: 16px;
    margin-top: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    bottom: 100px;
}

#admin-nav button {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 140px;
    font: bold 22px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    color: black; 
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(45deg, black 50%, transparent 50%);
    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

#admin-nav button:hover {
    background-color:  rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075,1.075);
    -ms-transform: scale(1.075,1.075);
    -o-transform: scale(1.075,1.075);
    transform: scale(1.075,1.075);
}
