#admin-list {
    display: flex;
    flex-flow: row nowrap;
}

#admin {
    font-size: 16px;
    padding-top: 20px;
    overflow: scroll;
    margin-bottom: 250px;
}

#admin-nav {
    font-size: 16px;
    margin-top: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    bottom: 100px;
}




/* USERS STYLING IN ADMIN */



/* CARTS STYLING IN ADMIN */