.orders {
    margin-top: -50px !important;
}

.history-initial {
    margin-left: -250px !important;
}

#dropdown-arrow {
    margin-left: -100px !important;
}

.hidden-details {
    margin-left: 350px !important;
}