.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*add new user*/
#admin-list-user {
    display: grid;
    column-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*add new user headings*/
#admin-list-user span {
    font: bold 22px Helvetica, Sans-Serif; 
    
}

#admin-list-user span input {
    margin-left: 0px;
}

/*add new user checkbox*/
.checkbox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#admin-checkbox {
    width: 50px;
    margin-top: -10px;
}

/*add new user inputs*/
#admin-list-user input {
    margin-bottom: 10px;
}

/*add new user button*/
#user-button2 {
    width: 200px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font: bold 22px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    color: dodgerblue; 
    background-image: -webkit-linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-image: linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

/*add new user button hover*/
#user-button2:hover {
    background-color:  rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075,1.075);
    -ms-transform: scale(1.075,1.075);
    -o-transform: scale(1.075,1.075);
    transform: scale(1.075,1.075);
}




/*edit user big heading*/
#addUserH1 {
    font: bold 32px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    padding-left: 150px;
    margin-bottom: 25px;
    margin-top: 30px;
    background-color: black;
    border: 3px solid black;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

.user-list-container {
    width: 80%;
}

#admin-list-users {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    
    border: 1px solid black;
    padding: 20px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}


/*edit user headings*/
#admin-list span {
    font: bold 22px Helvetica, Sans-Serif; 
    margin-bottom: 25px;
}

/*edit user inputs*/
#admin-list input {
    width: 300px;
    height: 40px;
}

/*edit user checkboxes*/
/* .checkbox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/*edit user button*/
#user-button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    font: bold 22px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    color: dodgerblue; 
    background-image: -webkit-linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-image: linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

/*edit user button hover*/
#user-button:hover {
    background-color:  rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075,1.075);
    -ms-transform: scale(1.075,1.075);
    -o-transform: scale(1.075,1.075);
    transform: scale(1.075,1.075);
}

#isUser {
    margin-left: 0px;
    margin-right: 0px;
}