

#admin-list-user {
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    max-width: 800px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#admin-list-user input {
    width: 300px;
}


#addUserH1 {
    font: bold 32px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    padding-left: 150px;
    margin-bottom: 25px;
    background-color: dodgerblue;
    border: 3px solid black;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 15px;
}

  .checkbox2 {
      margin-left: 110px !important;
  }
  
  #user-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 140px;
    font: bold 22px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    color: dodgerblue; 
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-image: linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }

  #user-button:hover {
    background-color:  rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075,1.075);
    -ms-transform: scale(1.075,1.075);
    -o-transform: scale(1.075,1.075);
    transform: scale(1.075,1.075);
}

#user-button2 {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 140px;
    font: bold 22px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    color: dodgerblue; 
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-image: linear-gradient(45deg, dodgerblue 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }

  #user-button2:hover {
    background-color:  rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075,1.075);
    -ms-transform: scale(1.075,1.075);
    -o-transform: scale(1.075,1.075);
    transform: scale(1.075,1.075);
}

.checkbox2 input {
    width: 25px !important;
}

.checkbox input {
    width: 25px !important;
}

#user-button {
    margin-top: 60px;
}

#user-button2{
    margin-left: 125px !important;
    width: 290px !important;
}
