/** @format */

.profile {
    max-width: 310px;
    font-family: "Raleway", sans-serif;
    margin: auto;
    width: 50%;
    margin-top: 250px;
}

.profileform {
    display: flex;
}

input {
    margin-top: 10px;
    margin-left: 5px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
}

button {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 20px;
}


select {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    height: 50px;
    margin-top: 10px;
}

.hide {
    display: none;
}
