/** @format */

.profile h1 {
    margin-top: 170px;
}

.profileForm {
    font: bold 24px Helvetica, Sans-Serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("https://www.lefthudson.com/wp-content/uploads/2019/11/black-minimalist-wallpaper-awesome-192-minimalist-wallpaper-examples-for-a-simple-desktop-background-this-month-of-black-minimalist-wallpaper.jpg") !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    /* padding-left: 200px; */
    padding-bottom: 75px;
}

.editPro {
    font: bold 32px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    margin-bottom: 25px;
    /* width: 100%; */
    background-color: white;
    color: black;
    height: 70px;
    padding-top: 15px;
    text-align: center;
    width: 500px;
    /* margin-left: -150px; */
}

.editPro2 {
    font: bold 32px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    margin-bottom: 25px;
    margin-top: 175px;
    width: 600px;
    background-color: white;
    color: black;
    height: 70px;
    padding-top: 15px;
    text-align: center;
    /* margin-left: -150px; */
}

.profileform {
    display: flex;
    flex-direction: column;
}

input {
    width: 400px;
    border: 1px solid black;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 400px;
    border: 1px solid black;
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}

.profile button {
    width: 400px;
    height: 50px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
    background-image: -webkit-linear-gradient(45deg, black 50%, transparent 50%);
    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.profile button:hover {
    background-color: rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075, 1.075);
    -ms-transform: scale(1.075, 1.075);
    -o-transform: scale(1.075, 1.075);
    transform: scale(1.075, 1.075);
}
