@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: larger;
}

.searchTerm {
    margin-top: 20px;
}

.searchForm {
    display: flex;
}

#login {
width: 75px;
font-size: 16px;
}

#signup {
    width: 75px;
    font-size: 16px;
}
  
#search {
    font-size: 16px;
    width: 60px;
}

.searchTerm {
    font-size: 16px;
}

#cart {
    width: 75px;
    font-size: 16px;
}






.dropbtn {
    background-color: rgb(3, 70, 128);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    font-size: 16px;
    margin-bottom: 5px;
    
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(3, 70, 128);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {
    background-color:  rgb(1, 0, 53);
    border-radius: 20px;
    color: white;
}
  

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
  

.dropdown:hover .dropbtn {
    background-color:  rgb(1, 0, 53);
    color: white;
}



#cartLogo {
    height: 50px;
    filter: invert(100%);
}

#cartLogo:hover {
    filter: invert(100%);
}








.button {
    border-color: rgb(0, 28, 53);
    background-color: rgb(3, 70, 128);
    color: white;
    background-image: -webkit-linear-gradient(45deg, rgb(1, 0, 53) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(1, 0, 53) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .button:hover {
    background-position: 0;
    color: white;
  }


  #dropdownIcon {
      width: 25px;
      margin-right: 10px;
      filter: invert(100%)
  }
