/**
 * /*GOOGLE FONTS IMPORT
 *
 * @format
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);

/*BUTTON STYLING*/
.button {
    color: black;
    border: none;
    background-color: white;
}

/*HEADER CONTAINER STYLING*/
.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 60px;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(1, 0, 53);
    width: 100%;
    height: 85px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    z-index: 1;

}

/*TOP DOOMSDAY BANNER STYLING*/
#headerWrap {
    display: flex !important;
    justify-content: center;
    height: 60px;
    position: fixed;
    background-color: rgb(1, 0, 53);
    z-index: 1 !important;
}

#headerWrap button {
    position: absolute;
    right: 50px;
    margin-top: 5px;
}
/*ARE YOU PREPARED HEADER STYLING*/
#prepared {
    font: bold 42px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: white;
}
/*DOOMSDAY WORD (LARGE) BANNER STYLING*/
#doomsday {
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 44px;
    letter-spacing: 5px;
    font-weight: 900;
    margin-left: 10px;
    -webkit-text-stroke: 0.2px white; /* width and color */
    -webkit-text-fill-color: transparent;
}
/*DOOMSDAY WAVE STYLING*/
.StreamsHero-image {
    background: #002d4d;
    background: -moz-linear-gradient(-45deg, black 0%, #002d4d 52%, red 100%);
    background: -webkit-linear-gradient(-45deg, black 0%, #002d4d 52%, red 100%);
    background: linear-gradient(135deg, black 0%, #002d4d 52%, red 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/*WEBKIT IMPORT FOR WAVE COLORS */
@-webkit-keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }
    50% {
        background-position: 100% 94%;
    }
    100% {
        background-position: 0% 7%;
    }
}
@keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }
    50% {
        background-position: 100% 94%;
    }
    100% {
        background-position: 0% 7%;
    }
}

/*SEARCH FORMS STYLING*/
/*INPUT STYLING*/
.searchTerm {
    margin-top: 20px;
    border: 1px solid rgb(1, 0, 53);
    font: bold 16px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: lightslategray;
    background-image: url("https://lh3.googleusercontent.com/proxy/MtxHfmhJ7rHRSvipU-1ZjUePr0gYZqSp0Acplm2J2gC8vImi7wXXyENiUKw6Vude9kW4_KaWziwu-F5GwnjffxX-GA20Dn8O4bZ7n6YK2G7Iklmu7LYAzVXZlRiIFqnCnzdICXnRSBSrzGBBb0v7D6Xb3f-dIpcyYZinxHGDc5cNtFsZxcI");
    background-size: cover;
}
/*FORM STYLING*/
.searchForm {
    display: flex;
    margin-top: -10px;
}
/*SEARCH BUTTON*/
#search {
    font-size: 16px;
    width: 60px;
    background-color: white;
    border: none;
}
/*SEARCH IMAGE*/
#sbtn {
    height: 65px;
    margin-left: -10px;
    margin-top: 10px;
}

/*BETWEEN BUTTON BREAK*/
#breaker {
    margin-top: 15px;
}

/*LOGIN BUTTON*/
#login {
    width: 100px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
    margin-top: 8px;
    height: 50px;
    border-radius: 0% !important; 
}

#login:hover {
    color: red;
}

#signup:hover {
    color: red;
}

/*SIGN UP BUTTON*/
#signup {
    width: 100px;
    height: 50px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
    margin-top: 8px;
    border-radius: 0% !important; 
}

/*CART BUTTON*/
#cart {
  text-align: center;
    width: 75px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 0% !important; 
}
/*CART LOGO STYLING*/
#cartLogo {
    height: 50px;
}
/*CART LOGO ON HOVER*/
#cart img:hover {
    filter: invert(50%);
}

/*DROPDOWN MENU STYLING*/
/*DROPDOWN WELCOME BUTTON*/
.dropbtn {
    color: black;
    border: 1px solid white;
    background-color: white;
    width: 350px;
    font-size: 26px;
    z-index: 1;
    position: relative;
    margin-top: 15px;
  }
  /*DROPDOWN BUTTON HOVER*/
  .dropdown:hover .dropbtn {
    color: red;
    z-index: 1;
    position: relative;
}
/*POINTER ICON*/
#pointer {
    height: 25px;
    margin-left: 3px;
    margin-bottom: 8px;
}

/*DROPDOWN DIV*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 10px;
}
/*DROPDOWN HOVER (CONTENT)*/
.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
}
/*DROPDOWN MENU*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/*LINKS INSIDE DROPDOWN MENU*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*LINKS INSIDEE DROPDOWN MENU (HOVER)*/
.dropdown-content a:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
}
/*DROPDOWN CONTENT IMAGE ICONS*/
#dropdownIcon {
    width: 25px;
    margin-right: 10px;
}

a:hover #dropdownIcon {
    width: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

#cart-size {
    color: red;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    margin-bottom: -20px;
}

#updatedButton {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font: bold 22px Helvetica, Sans-Serif;
    border-radius: 50px;
    width: 200px;
    background-image: -webkit-linear-gradient(45deg, royalblue 50%, transparent 50%);
    background-image: linear-gradient(45deg, royalblue 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

#updatedButton:hover {
    background-color:  rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075,1.075);
    -ms-transform: scale(1.075,1.075);
    -o-transform: scale(1.075,1.075);
    transform: scale(1.075,1.075);
}