/** @format */

#cart-component {
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 50px;
    background-color: white;
}

#cart-component h1 {
    text-align: center;
    margin-bottom: 20px;
    font: bold 32px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
}

#cart-container {
    width: 80%;
    display: grid;
    /* grid-template-column: 1fr;
    grid-template-row: 20px auto; */
    font: bold 18px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
}

.cart-titles {
    display: grid;
    height: 30px;
    grid-template-columns: 2fr 3fr 2fr 1fr 2fr 2fr;
    grid-template-rows: 30px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
    
}

.cart-title {
    grid-area: 1 / 2 / 2 / 3;
}

.cart-quantity {
    grid-area: 1 / 3 / 2 / 4;
}

.cart-price {
    grid-area: 1 / 4 / 2 / 5;
    text-align: right;
}

.cart-total {
    grid-area: 1 / 5 / 2 / 6;
    text-align: right;
}

#cart-row-container {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 15px;
}

#tables-outer-container {
    display: flex;
}

#total-container {
    width: 20%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 350px;
    background-color: silver;
    border: 2px solid black;
    font-size: 30px;
    padding: 20px;
}

.total-title {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
}

.tick {
    width: 40px;
    height: 20px;
    font-size: 12px;
    background-color: black;
    color: white;
}

.tick:hover {
    color: black;
    background-color: white;
}

.cart-buttons {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.cart-image {
    width: 80px;
}

.cart-delete {
    background-color: black;
    color: white;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

.cart-delete:hover {
    color: black;
    background-color: white;
}

#total-container {
    background-color: black;
    color: white;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    border-radius: 10px;
}

.total-title {
    color: white !important;
}

.total {
    margin-bottom: 30px;
}

#check {
    width: 300px;
    height: 60px;
    /* background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black; */
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: 75px;
    background-image: -webkit-linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.checkout-guest {
    width: 145px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font: bold 22px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: black;
    margin-top: 10px;
    margin-bottom: 55px;
    margin-left: 20px;
    background-image: -webkit-linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(55, 0, 55) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.asguest {
    margin-left: 75px;
}

#check:hover, .checkout-guest:hover {
    background-color: rgb(1, 0, 53);
    color: white;
    background-position: 0;
    webkit-transform: scale(1.075, 1.075);
    -ms-transform: scale(1.075, 1.075);
    -o-transform: scale(1.075, 1.075);
    transform: scale(1.075, 1.075);
}

.options {
    display: flex;
    justify-content: flex-start;
}