/** @format */

#cart-component {
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 50px;
    background-color: aliceblue;
}

#cart-component h1 {
    
    text-align: center;
    margin-bottom: 20px;
}

#cart-container {
    width: 80%;
    display: grid;
    grid-template-column: 1fr;
    grid-template-row: 1fr auto;
}

.cart-titles {
   
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
}

#cart-row-container {
   
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
}

#tables-outer-container {
    display: flex;
}


#total-container {
    width: 20%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 350px;
    background-color: silver;
    border: 2px solid black;
    font-size: 30px;
    padding: 20px;
}


.total-title {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}

.tick {
    width: 30px;
    height: 20px;
    font-size: 12px;
}

.cart-buttons {
    display: flex;
    flex-direction: column;
}