.orders{
    margin-top: 280px;
}

.orders-h1 {
    font: bold 32px Helvetica, Sans-Serif; 
    letter-spacing: -1px; 
    padding-left: 150px;
    margin-bottom: 25px;
    background-color: black;
    border: 3px solid black;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 15px;
}