/** @format */

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.orders:hover {
    color: black;
}

.first-map-div {
    display: grid;
    width: 90vw;
    justify-items: center;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "historyInitial"
        "hiddenDetails";
}

.history-top {
    grid-area: historyInitial;
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title1 title2 title3 title4"
        "span"
        "content1 content2 content3 content4";
}

.hidden-details-cont {
    grid-area: hiddenDetails;
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "hiddenTitles"
        "hiddenContent";
}

.hidden-titles {
    grid-area: hiddenTitles;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "hiddenTitle1 hiddenTitle2 hiddenTitle3 hiddenTitle4";
}

.hidden-item-cont {
    grid-area: hiddenContent;
    display: flex;
    flex-direction: column;
}
.each-hidden-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "hiddenContent1 hiddenContent2 hiddenContent3 hiddenContent4";
}

.orders p {
    border: 1px solid black;
}

.hist-con {
    background-color: silver;
}

.hid-con {
    background-color: silver;
}

.hist-tit {
    font: bold 20px Helvetica, Sans-Serif;
}

.hid-tit {
    font: bold 18px Helvetica, Sans-Serif;
}

.orders-h1 {
    font: bold 32px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    margin-bottom: 25px;
    background-color: black;
    border: 3px solid black;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 15px;
}




#clickMe {
background-color:transparent;
color: transparent;
position: absolute;
margin-top: 25px;
font: bold 14px Helvetica, Sans-Serif;
height: 8px;
display: block;
margin-left: auto;
margin-right: auto;
width: 90%;
}

.history-top:hover >#clickMe{
    color: red;
}

